<form method='post' action='/posts'>
  <fieldset>
    <legend>Edit Post</legend>

    <div>
      <label for='title'>Title</label>
      <input name='title' value='{{title}}'/>
    </div>
    <input type="hidden" name="_rev" value="{{_rev}}"/>
    <input type="hidden" name="_id" value="{{_id}}"/>
    <div>
      <label for='body'>Body</label>
      <textarea name='body' rows='15' columns='25'>{{{body}}}</textarea>
    </div>

    <div class='buttons'>
      <input type='submit' value='Save Post' />
    </div>
  </fieldset>
</form>