<a href='/posts'>Home</a>

<h1>{{title}}</h1>

<div class='post-content'>
  {{{body}}}
</div>

<div>
  <h2>Files</h2>
  <ul id='files'>
    {{#files}}
      <li>
        <div>
          <a href="/posts/{{_id}}/files/{{.}}">{{.}}</a>
        </div>
      </li>
    {{/files}}

    {{^files}}
      No Files Yet
    {{/files}}
  </ul>
</div>

<form method='post'  enctype="multipart/form-data" action='/posts/{{_id}}/files'>
  <fieldset>
    <legend>Leave a file</legend>


    <div>
      <label for='file'>Your File</label>
      <input name='file' type="file"/>
    </div>
    <div>
      <label for='isPrivate'>Private</label>
      <input name='isPrivate' type="checkbox"/>
    </div>

    <div class='buttons'>
      <input type='submit' value='Post Comment' />
    </div>
  </fieldset>
</form>